body {
    background-color: #e6f3ff;
    padding: 12%;
}

.tagline {
    color: blueviolet;
    font-style: italic;
}

p span {
    font-weight: bold;
    color: maroon;
}

.price-topic {
    font-size: 25px;
    font-weight: bold;
    padding-top: 150px;
}

/* ---- for images --------- */
.image-cake {
    float: right;
    width: 300px;
}

/* ---- for table ---------- */
.price-table {
    width: 100%;
    border: 1px solid black;
    text-align: left;
}

.price-table th, .price-table td {
        padding: 1;
}


footer {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding: 3px;
    background-color: orange;
    color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}