body {
    background-color: lightblue;
}

.tagline {
    color: blueviolet;
    font-style: italic;
}

p span {
    font-weight: bold;
    color: maroon;
}

/* ---- for images --------- */
.image-cake {
    float: right;
    width: 300px;
}
